body {
    font-size: 20px;
}

#str {
    position: absolute;
    width: 150px;
}

#submitBtn {
    position: absolute;
    margin-top: 20px;
    margin-left: 205px;
    width: 155px;
    height: 25px;
}
